emailConfigurations.py
printerConfig.py
duomenms.py
Detections.py
detectionLoop.py
.DS_Store
Thumbs.db
yolov5/
__pycache__/
**/__pycache__/
.venv/
.venv1/
venv/
.idea/
Windows/.idea/
k1cfail.mp4
output2.avi
prusa.mov
old/

